form{
	width: 310px; 
	display: inline-block;
	float: center ;
	float: center;

}

input[name=display]{
	width: 98%;
	height: 30px;
}

button{
	width: 50px;
	height: 30px;
	margin-top: 5px;
}

div{
	display: inline;
}


aside{
	display: block;
	float: right;
	width: 55px;
	height: 150px;
}

button[name=clear]{
	height: 135px;
}