form{
	width: 500px;
	right: 500px;
}

table {

}

input[name=col]{
	margin-left: 20px;
}

input[name=txtcolor]{
	display: inline-block;
	float: center;

}

input[name=txtcolor],[name=bgcolor]{
	margin-top: 10px;
}

button{
	margin: 10px 60px;
}

td{
	padding: 10px;
	text-align: center;
	margin: 5px;
	border: 1px solid black;
}