table{
	border : 1px solid black;
}

th{
	width: 80px;
	border: 1px solid black;
}

td {
	width: 80px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	margin: 5px;
	border: 1px solid black;
}

tr{
	border: 1px solid black
	height: 30px;
}

